<%= form_with(model: @paciente) do |form| %>
  <% if @paciente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% @paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome_completo, style: "display: block" %>
    <%= form.text_field :nome_completo %>
  </div>

  <div>
    <%= form.label :data_de_nascimento, style: "display: block" %>
    <%= form.date_field :data_de_nascimento %>
  </div>

  <div>
    <%= form.label :CPF, style: "display: block" %>
    <%= form.text_field :CPF %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <!-- Campos do Endereço. -->
    <%= fields_for :endereco, @paciente.endereco do |endereco_form| %>
      <h2>Endereço</h2>
      <div>
        <%= endereco_form.label :CEP, style: "display: block" %>
        <%= endereco_form.text_field :CEP %>
      </div>
      <div>
        <%= endereco_form.label :cidade, style: "display: block" %>
        <%= endereco_form.text_field :cidade %>
      </div>
      <div>
        <%= endereco_form.label :bairro, style: "display: block" %>
        <%= endereco_form.text_field :bairro %>
      </div>
      <div>
        <%= endereco_form.label :logradouro, style: "display: block" %>
        <%= endereco_form.text_field :logradouro %>
      </div>
      <div>
        <%= endereco_form.label :complemento, style: "display: block" %>
        <%= endereco_form.text_field :complemento %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
